@import "tailwindcss";

@font-face {
	font-family: "TlwgTypo";
	src: url("/fonts/TlwgTypo.otf") format("opentype");
}

@font-face {
	font-family: "Kinnari";
	src: url("/fonts/Kinnari.otf") format("opentype");
}

@theme {
	--font-georgia: "Georgia", "Kinnari", serif;
	--font-typo: "TlwgTypo", monospace;
}

table td, table th {
	vertical-align: top;
	border: 1px solid #f2f2f2 !important;
	padding: .35em .75em !important;
	font-size: .9em;
}